---
title: Termine
subtitle: Amazing Aces Braunschweig
nometa: true
headless: true
menu: Termine
---

h1 = "Termine" 

p <b>ACHTUNG:</b> Um uns vor dem Coronavirus und anderen Luft-getragenen Infektionskrankheiten zu schützen, wollen wir im Moment keine Veranstaltung in Innenräumen stattfinden lassen. Daher findet unser Stammtisch zur Zeit nicht in der Frauenbibliothek statt, sondern entweder <b>draußen</b>, oder als <b>Online-Treffen</b> mit Text-, Audio- und Videochat. Ihr könnt einfach mit eurem Browser teilnehmen - den Link schicken wir vorher per E-mail rum, also <a href='/kontakt/'>sagt uns Bescheid</a>, wenn ihr auf die E-mail-Liste wollt.

- events.group_by{|t| 0}.each do |group, event| 
    == eventbox(event)

p Der Stammtisch findet normalerweise regelmäßig immer <b>am zweiten Donnerstag des Monats um 20 Uhr</b> (online) statt, bei Präsenz-Teffen oft schon etwas früher. Auch wenn hier nur ein paar Monate im Voraus angezeigt werden, könnt ihr euch daran orientieren, falls ihr euch schon die Termine für spätere Monate merken wollt. 

p Falls sich mal ein Termin ändert, werden wir das hier auf der Website aktualisieren, also schaut am besten einfach kurz vorher nochmal nach.

p Wenn ihr euch außerhalb der Stammtische mit anderen Menschen im asexuellen Spektrum unterhalten wollt, meldet euch gerne z.B. in unserer <a href='/signal/'>Signal-Gruppe</a> an (Schreibt uns dazu einfach eine <a href='/kontakt/'>E-mail</a>, um den Zugangslink zu bekommen).

p Für online-Austausch mit der Ace/Aro-Community im ganzen deutschsprachigen Raum gibt es außerdem die <a href='https://aspecgerman.de/'>Aspec*German</a>-Community auf <i>Discord</i> - dort finden auch regelmäßige Stammtische im Voicechat statt und es gibt Textchatkanäle zu verschiedenen Themen.
