---
title: Termine
subtitle: Amazing Aces Braunschweig
nometa: true
headless: true
menu: Termine
---

h1 = "Termine" 

p <b>ACHTUNG:</b> Um die Ausbreitung des Coronavirus einzudämmen, wollen wir im Moment keine Veranstaltung in Innenräumen stattfinden lassen.

p Wenn ihr euch mit anderen Menschen im asexuellen Spektrum unterhalten wollt, meldet euch gerne z.B. in unserer <a href='/whatsapp/'>WhatsApp-Gruppe</a> an (Schreibt uns dazu einfach eine <a href='/kontakt/'>e-mail</a> mit eurer Handynummer).

p Da auch in vielen anderen Städten im Moment keine Stammtische vor Ort stattfinden können, freuen wir uns über die Möglichkeit, uns stattdessen im <b>Text- und Audiochat</b> auf einem <b>Discord-Server</b> austauschen zu können, der extra für Menschen im Ace/Aro-Spektrum eingerichtet wurde. Wenn ihr Interesse an einem <b>Online-Stammtisch für Braunschweig</b> habt, können wir uns dort z.B. zur geplanten Zeit in einem Sprachkanal treffen. Schreibt uns einfach eine <a href='/kontakt/'>e-mail</a>, um den Zugangs-Link zu bekommen :)
   
- events.group_by{|t| 0}.each do |group, event| 
    == eventbox(event)

p Der Stammtisch findet normalerweise regelmäßig immer am zweiten Donnerstag des Monats um 20 Uhr statt. Auch wenn hier nur ein paar Monate im Voraus angezeigt werden, könnt ihr euch daran orientieren, falls ihr euch schon die Termine für spätere Monate merken wollt. 

p Falls sich mal ein Termin ändert, werden wir das hier auf der Website aktualisieren, also schaut am besten einfach kurz vorher nochmal nach.
